/* CSS Document */

body {
    font-family: DejaVu Sans;
    font-size: 10pt;
    line-height: 19px;
}

.negrito {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
    text-indent: 90px;
}

/*vai ser aplicado no rodape do html, não no pdf*/
.footer {
    font-size: 8pt;
    line-height: 10px;
    text-align: center;
}


